* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Arial', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.listItem .listItem__itemCard,
.listItem .listItem__itemAction button {
  cursor: pointer;
}

.listItem .listItem__itemCard:hover {
  background-color: #C5C5C505;
  opacity: 0.8;
}

.listItem .listItem__itemAction button:hover {
  border-color: #FFF;
  transition: all 0.5s;
}

#my-cart table {
  table-layout: fixed;
  width: 400px
}
